doctype html
html
  head
    title Comment
    link(rel='stylesheet', href='/stylesheets/common.css')
    style.
        * {
          margin-top:.05in;
        }
        body {
          max-width: 6.0in;
        }
        .commentArea {
          width:100%;
          font-size:1.0em;
        }
        .textInput {
          font-size:1.0em;
        }
        .sendButton {
          vertical-align:top;
          margin-left:0.1in;
        }
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

  body(class="localBody")
    div(id="middleContainer",class="box")
      a(href="/")
        div(class='header')
      div(class='page')
        if (recipe)
          h1 Comment on: #{recipe.Title}
          p(class='undertitle') ##{recipe.ID}
        else
          h1 Comment on Audrey's Great Big Book of Food.
        p
        form(action='/sendcomment')
          div
            p Your name or email address:
              input(type="text",name="name",size="40",autofocus=true,onfocus="this.select();",class='textInput')
          div
            textarea(name="comment",rows="10",class="commentArea")
          div
            input(type='submit',Value='Send Comment',class='sendButton')
          input(type='hidden',name='ID',value=id)
        p
        p(class="finePrint") Cookie: #{cookie}

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67254139-1', 'auto');
    ga('send', 'pageview');
