doctype html
html
  head
    title Audrey's Great Big Book Of Food
    link(rel='stylesheet', href='/stylesheets/common.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    a(href="/")
      div(class='header')
    h1= message
    h2= error.status
    pre #{error.stack}
