doctype html
html
  head
    title Audrey's Great Big Book Of Food
    link(rel='stylesheet', href='/stylesheets/index.css')
    style.
      {
        td {
          padding-top:0.1in;
          padding-bottom:0.1in;
        }
      }
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src="jquery-2.2.0.min.js")
    script(src="javascripts/remember_scroll.js")
  body
    div(class='indexPage')
      a(href="/")
        div(class='header')
      table
        tr
          td
            div(class='indexPageImage')
              a(href="/")
                img(src='/images/Audrey\'s Great Big Book of Food Small.png', alt='Audrey\'s Great Big Book of Food')
            td
              div
                p(class='numRecipesMessage') #{armOriginal.length} recipes are online.
                if (date != null && date != "")
                  p(class='numRecipesMessage') Last update: #{date}
                else
                  p(class='numRecipesMessage') Last update: #{date}

                p(class='instructionsMessage') To search the recipes, enter terms in the box, and/or choose
                                             | values from one or more of the searchable fields. Click on the
                                             | image to reset your search results.
              div
                form(id="searchForm")
                  table(class='searchTable')
                    tr
                      td(colspan='2')
                        div(class='searchTextArea')
                          input(type='text',onfocus="this.select();",autofocus,name='terms',value=query['terms'],class='searchText' )
                          input(class='searchButton',type='submit',Value='Search')
                    each searchable in aSearchables
                      tr
                        td(class='fieldLabel') #{searchable.field}:
                        td(class='fieldSelector')
                            select(name=searchable.field,class='searchSelect',onchange="submitForm()")
                              if (query[searchable.field] == null || query[searchable.field].length == 0)
                                option(value='',selected)
                              else
                                option(value='')
                              each envalue in searchable.enums
                                if (query[searchable.field] != null && query[searchable.field] == envalue)
                                  option(value=envalue,selected) #{envalue}
                                else
                                  option(value=envalue) #{envalue}
                    tr
                      td(class='fieldLabel')= 'Sort:'
                      td(class='fieldSelector')
                        select(name='Sort',class='searchSelect',onchange="submitForm()")
                          if query['Sort'] == null || query['Sort'] == 'Alphabetical'
                            option(value='Alphabetical',selected)= 'Alphabetical'
                            option(value='Most Recent')= 'Most Recent'
                          else
                            option(value='Alphabetical')= 'Alphabetical'
                            option(value='Most Recent',selected)= 'Most Recent'

      div(class='indexPageResults')
        if (armOriginal.length != armFiltered.length || query['terms'] == 'a' || query['terms'] == 'A')
          hr
          if (armFiltered.length == 1)
            h2 #{armFiltered.length} recipe matches your search.
          else
            h2 #{armFiltered.length} recipes match your search.
          hr
          table(width='100%',border='1',frame='void',rules='rows',border-color='gray')
            each item in armFiltered
              tr
                if (permission != null && permission > 0)
                  if item['Picture']
                    - var pictArray = item['Picture'].split('\n');
                    td(class='searchImageCell')
                      a(href='recipe?ID='+item.ID)
                        img(src='/images/Pictures/' + pictArray[0])
                  else
                    td(class='searchResultCell')
                      p
                td(class='searchResultCell')
                  p(class='result')
                    a(href='recipe?ID='+item.ID ) #{item.Title}
                      br
                      p(class='underresult')= new Date(item['Date First Added']).toLocaleDateString("en-US",{year: 'numeric', month: 'long', day: 'numeric' }) + " (#" + item.ID + ")"
    div(class="footer")
      a(href='about.html' ) About
      | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href="comment") Comment
    p &nbsp;
    script.
      function submitForm() {
        $( "#searchForm" ).submit();
      }
      $( "#searchForm" ).submit(function( event ) {
          $(':input', this).each(function() {
              this.disabled = !($(this).val());
          });
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67254139-1', 'auto');
      ga('send', 'pageview');
