- var hasPictures = false;
mixin recipeImages(str, imageNames, recipeTitle)
  - var splitArray = str.split('\n');
  if (splitArray.length > 0 && hidePicts != true)
    h2 #{imageNames}
  each item in splitArray
    - hasPictures = true;
    if (hidePicts != true)
      a(href='/images/Pictures/'+item)
        img(src='/images/Pictures/'+item, class='recipePicture', alt=recipeTitle + ' - ' + imageNames)
      br

mixin recipeBody(str)
  - var splitArray = str.split('\n');
  - var val = 1
  ol
    each item in splitArray
      - str = item;
      - str = str.replace(/\$_\^([A-Z,a-z,0-9,_,/,\-,\']+)/g, "<b><u><i>$1</i></u></b>");
      - str = str.replace(/\$_([A-Z,a-z,0-9,_,/,\-,\']+)/g, "<b><i>$1</i></b>");
      - str = str.replace(/\$\^([A-Z,a-z,0-9,_,/,\-,\']+)/g, "<b><i>$1</i></b>");
      - str = str.replace(/\^_([A-Z,a-z,0-9,_,/,\-,\']+)/g, "<u><i>$1</i></u>");
      - str = str.replace(/\$([A-Z,a-z,0-9,_,/,\-,\']+)/g, "<b>$1</b>");
      - str = str.replace(/_([A-Z,a-z,0-9,_,/,\-,\']+)/g, "<u>$1</u>");
      - str = str.replace(/\^([A-Z,a-z,0-9,_,/,\-,\']+)/g, "<i>$1</i>");
      - str = str.replace(/\[R ([^\]]*)]([^\[]*)\[\/R\]/g, function(str,p1,p2) {return '<a href="/recipe?title=' + encodeURIComponent(p1) + '">' + p2 + '</a>';});
      if (str.substr(0,2) == '. ')
        li(class='liUnordered') !{str.substr(2)}
        - val = 1;
      else if (str.substr(0,2) == '# ')
        li(class='liOrdered', value=val) !{str.substr(2)}
        - ++val;
      else if (str.substr(0,2) == '* ')
        h3 !{str.substr(2)}
        - val = 1;
      else
        p !{str}
        - val = 1;

doctype html
html
  head
    title #{recipe.Title}
    link(rel='stylesheet', href='/stylesheets/recipe.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')


  body
    a(href="/")
      div(class='header')
    div(class='page')
      h1 #{recipe.Title}
      p(class='undertitle') ##{recipe.ID} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a(href='/comment?ID='+id) Comment on this recipe.
          

      if (recipe.Source)
        div(class="source") Source: #{recipe.Source}
      if recipe['Pre-Notes']
        h2 Pre-Notes
        + recipeBody(recipe['Pre-Notes'])
      if recipe.Ingredients
        h2 Ingredients
        + recipeBody(recipe.Ingredients)
      if recipe.Instructions
        h2 Instructions
        + recipeBody(recipe.Instructions)
      if recipe['How to Photos']
        + recipeImages(recipe['How to Photos'], 'How to Photos', recipe.Title)
      if recipe['Post-Notes']
        h2 Post-Notes
        + recipeBody(recipe['Post-Notes'])
      if recipe['Picture']
        + recipeImages(recipe['Picture'], 'Picture of Recipe', recipe.Title)
      if (recipe['Servings'])
        div(class='recipeAttributes') Serves: #{recipe['Servings'].replace(/\n/g,',')}
      if (recipe['Prep Time'])
        div(class='recipeAttributes') Prep Time: #{recipe['Prep Time'].replace(/\n/g,',')}
      if (recipe['Cook Time'])
        div(class='recipeAttributes') Cook Time: #{recipe['Cook Time'].replace(/\n/g,',')}
      if (recipe['Course'])
        div(class='recipeAttributes') Course: #{recipe['Course'].replace(/\n/g,',')}
      if (recipe['Type of Food'])
        div(class='recipeAttributes') Type of Food: #{recipe['Type of Food'].replace(/\n/g,',')}
      if (recipe['Ethnicity/Origin'])
        div(class='recipeAttributes') Ethnicity/Origin: #{recipe['Ethnicity/Origin'].replace(/\n/g,',')}
      if (recipe['Key Ingredient'])
        div(class='recipeAttributes') Key Ingredient: #{recipe['Key Ingredient'].replace(/\n/g,',')}
      if (recipe['Difficulty'])
        div(class='recipeAttributes') Difficulty: #{recipe['Difficulty'].replace(/\n/g,',')}
      if (recipe['Make Ahead'])
        div(class='recipeAttributes') Make Ahead: #{recipe['Make Ahead'].replace(/\n/g,',')}
      if (recipe['Prep Method'])
        div(class='recipeAttributes') Prep Method: #{recipe['Prep Method'].replace(/\n/g,',')}
      if (recipe['Themes/Holidays'])
        div(class='recipeAttributes') Themes/Holidays: #{recipe['Themes/Holidays'].replace(/\n/g,',')}
      if (hasPictures)
        if (hidePicts == true)
          div(class='finePrint')
            p
            a(href='/recipe?ID='+id) show pictures
            p
        else
          div(class='finePrint')
            p
            a(href='/recipe?hidePicts=true&ID='+id) hide pictures
            p
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67254139-1', 'auto');
      ga('send', 'pageview');
