doctype html
html
  head
    title Comment sent.
    link(rel='stylesheet', href='/stylesheets/recipe.css')
    style.
        * {
          margin-top:.05in;
        }
        body {
          max-width: 6.0in;
        }
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

  body
    div(id="middleContainer",class="box")
      a(href="/")
        div(class='header')
      div(class='page')
        h1 Thank you for your comment
        p
        if (id && id != '')
          a(href='recipe?ID='+id) Back to your recipe. 
        else
          a(href='/') Back to the home page. 

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67254139-1', 'auto');
    ga('send', 'pageview');
